<div id="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>

  <header>
    <h2><%= @ticket.name %></h2>

    <ul class="actions">
      <li><%= link_to "Edit Ticket", [:edit, @project, @ticket],
        class: "edit" %></li>
    </ul>
  </header>

  <%= simple_format(@ticket.description) %>
</div>
