#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 65%;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }

  td, th {
    line-height: 24px !important;
  }
}

blockquote.comment p {
  font-size: 14px;
}

.state {
  @extend .label;
  font-size: 12px;
  padding: 0.3em 0.6em;
}

#tickets li, #states li {
  padding-bottom: 10px;
}

.tag {
  @extend .state;
  @extend .label-info;
  margin-right: 10px;

  a {
    color: white;

    &.remove {
      font-family: "FontAwesome";
      @extend .fa-close;
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}
