<header>
  <h1>States</h1>

  <ul class="actions">
    <li><%= link_to "New State", new_admin_state_path, class: "new" %></li>
  </ul>
</header>

<ul id="states">
  <% @states.each do |state| %>
    <li><%= render "states/state", state: state %></li>
  <% end %>
</ul>
