<div class="tag">
  <% if policy(ticket).tag? %>
    <%= link_to "<span></span>".html_safe,
      remove_ticket_tag_path(ticket, tag), method: :delete, remote: true,
      class: "remove", title: "remove" %>
  <% end %>
  <%= tag.name %>
</div>
